Package: pywebget
Version: 0.1
Section: net
Priority: optional
Maintainer: clowwindy <clowwindy42@gmail.com>
Homepage: https://github.com/clowwindy
Architecture: all
Depends: python(>= 2.5), python (<< 2.8)
Conflicts: pywebget
Replaces: pywebget
Provides: pywebget
Description: PyWebGet
 a background HTTP download manager with a web interface.
