body {
    margin: 0;
    padding: 0;
	font: 12px "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    overflow: hidden;
}
#toolbar {
    padding: 10px;
}
.toolbar_icon {
    height: 26px;
    width: 26px;
    vertical-align: middle;
}
.text,#download_list_table_filter input {
    border: 1px solid #aaaaaa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
}
#download_list_table_filter input {
    border-radius: 10px 10px 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#download_list_table td {
    font-family: Tahoma, Arial,Helvetica,sans-serif;
}
.dialog .text{
    width:100%;
}
.dialog textarea {
    height: 100px;
    padding: 0;
    resize: none;
}
.ui-dialog {
    border-radius: 7px;
    box-shadow:  0 10px 30px rgba(0, 0, 0, 0.33);
}

.ui-button {
     box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

td {
    word-wrap:break-word;
    word-break:break-all;
}
input, textarea, select {
    outline: none;
}